appdirs==1.4.3
certifi==2018.1.18
Cython==0.23
Django==1.10.6
docutils==0.13.1
packaging==16.8
pipenv==11.8.0
psutil==5.0.1
pyowm==2.8.0
Pygments==2.2.0
pyparsing==2.2.0
python-telegram-bot==7.0.1
six==1.10.0
virtualenv==15.1.0
virtualenv-clone==0.3.0
setuptools==46.1.3
pyselenium==1.0.2
admitad==1.1.1
beautifulsoup4==4.9.0
chardet==3.0.4
future==0.18.2
idna==2.9
lxml==4.5.0
pip==20.1
pyTelegramBotAPI==3.7.1
requests==2.7.0
selenium==3.141.0
soupsieve==2.0
telebot==0.0.3
urllib3==1.25.9
vk-api==11.8.0